<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="icon-accelerator"></i> <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="/manage-dishes" class="waves-effect"><i class="icon-cutlery"></i><span> Manage dishes </span></a>

                </li>

                <li>
                    <a href="/manage-users" class="waves-effect"><i class="icon-profile"></i><span> Manage users </span></a>

                </li>

                <li>
                    <a href="/manage-orders" class="waves-effect"><i class="icon-paper-sheet"></i><span> Manage orders </span></a>

                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-fast-food"></i><span> Manage categories <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="/manage-categories/dishes-categories">Dishes categories</a></li>
                        <li><a href="/manage-categories/dishes-subcategories">Dishes subcategories</a></li>
                        <li><a href="/manage-categories/dishes-size">Dishes size</a></li>
                    </ul>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->