<!-- modal -->
<div id="alertMissingSize" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Cảnh báo</h5>
            </div>
            <div class="modal-body" >
                <h5 class="font-16">Phần kích thước không được bỏ trống.</h5>
                <p></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="closeMissingSizeAlert()">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->