<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Add dish</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Manage dishes</a></li>
                            <li class="breadcrumb-item active">Add dish</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Điền đầy đủ thông tin của món ăn cần thêm</h4>

                            <!-- Form -->
                            <form method="POST" action="/manage-dishes/add" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Tên</label>
                                    <input type="text" class="form-control" required placeholder="Tên sản phẩm" name="name" id="name"/>
                                </div>

                                <div class="form-group">
                                    <label>Loại món ăn</label>
                                    <div >
                                        <select class="form-control" id="category" name="category" onchange="changeCategoryAdd()">
                                            {{#if isPizzaSelected}}
                                                <option selected>Pizza</option>
                                            {{else}}
                                                <option>Pizza</option>
                                            {{/if}}
                                            {{#if isDrinkSelected}}
                                                <option selected>Thức uống</option>
                                            {{else}}
                                                <option>Thức uống</option>
                                            {{/if}}
                                            {{#if isSideSelected}}
                                                <option selected>Đồ ăn kèm</option>
                                            {{else}}
                                                <option>Đồ ăn kèm</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>

                                {{#if isPizzaSelected}}
                                <div class="form-group">
                                    <label>Loại pizza</label>
                                    <div >
                                        <select class="form-control" id="subcategory" name="subcategory">
                                            <option>Truyền thống</option>
                                            <option>Hải sản</option>
                                            <option>Thập cẩm</option>
                                        </select>
                                    </div>
                                </div>
                                {{/if}}

                                <div class="form-group col-sm-2 img-picker-container">
                                    <label>Ảnh đại diện</label>
                                    <div class="img-picker" id="avatarPicker" data-url=""></div>
                                </div>

                                {{#if isPizzaSelected}}
                                    <div class="form-group">
                                        <label>Nguyên liệu</label>
                                        <input type="text" class="form-control" required placeholder="Tên các loại nguyên liệu" name="igredients" id="igredients"/>
                                    </div>
                                {{/if}}

                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <div>
                                        <textarea required class="form-control" rows="5" required placeholder="Mô tả sản phẩm" name="description" id="description"></textarea>
                                    </div>
                                </div>

                                <div class="form-group img-picker-container">
                                    <label>Ảnh mô tả</label>
                                    <div class="row">
                                        <div class="img-picker col-sm-2" id="descriptionPicker1" data-url=""></div>
                                        <div class="img-picker col-sm-2" id="descriptionPicker2" data-url=""></div>
                                        <div class="img-picker col-sm-2" id="descriptionPicker3" data-url=""></div>
                                        <div class="img-picker col-sm-2" id="descriptionPicker4" data-url=""></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Giá tiền</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">VNĐ</span>
                                        </div>
                                        <input data-parsley-type="number" type="number"
                                               class="form-control" required
                                               placeholder="Giá tiền sản phẩm"
                                               name="price"
                                               id="price"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Giảm giá</label>
                                    <input type="text" class="form-control" required placeholder="% giảm giá sản phẩm" name="discount" id="discount"/>
                                </div>

                                <!-- load kích thước từ db -->
                                {{#if isPizzaSelected}}
                                <div class="form-group">
                                    <label>Kích thước</label>
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="size1" name="size1" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="size1"><p>25cm <span>(250g)</span></p>  </label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="size2" name="size2" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="size2"><p>30cm <span>(450g)</span></p>  </label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="size3" name="size3" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="size3"><p>40cm <span>(550g)</span></p>  </label>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}

                                {{#if isDrinkSelected}}
                                    <div class="form-group">
                                        <label>Kích thước</label>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="size1" name="size1" data-parsley-multiple="groups"
                                                       data-parsley-mincheck="1">
                                                <label class="custom-control-label" for="size1"><p>L</p>  </label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="size2" name="size2" data-parsley-multiple="groups"
                                                       data-parsley-mincheck="1">
                                                <label class="custom-control-label" for="size2"><p>M</p>  </label>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}

                                {{#if isSideSelected}}
                                    <div class="form-group">
                                        <label>Kích thước</label>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="size1" name="size1" data-parsley-multiple="groups"
                                                       data-parsley-mincheck="1">
                                                <label class="custom-control-label" for="size1"><p>1 Người Ăn</p>  </label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="size2" name="size2" data-parsley-multiple="groups"
                                                       data-parsley-mincheck="1">
                                                <label class="custom-control-label" for="size2"><p>2 Người Ăn</p>  </label>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}

                                {{#if isPizzaSelected}}
                                <div class="form-group">
                                    <label>Đế bánh</label>
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dough1" name="dough1" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="dough1">Mỏng</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dough2" name="dough2" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="dough2">Dày</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Toping đi kèm</label>
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="toping1" name="toping1" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="toping1">Ớt chuông</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="toping2" name="toping2" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="toping2">Thịt xông khói</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="toping3" name="toping3" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="toping3">Nấm</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="toping4" name="toping4" data-parsley-multiple="groups"
                                                   data-parsley-mincheck="1">
                                            <label class="custom-control-label" for="toping4">Cải xà lách</label>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}

                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Thêm
                                        </button>

                                        <a href="/manage-dishes">
                                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                Bỏ qua
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->

    <footer class="footer">
        © 2020 Pizzone <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>
</div>