<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Add voucher</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Manage vouchers</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Điền đầy đủ thông tin của voucher cần thêm</h4>

                            <!-- Form -->
                            <form method="POST" action="/manage-dishes/add" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Mã</label>

                                        <input type="text" class="form-control" required placeholder="Mã giảm giá" name="name" id="name"/>

                                </div>

                                <div class="form-group">
                                    <label>Giảm giá</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" required placeholder="Phần trăm giảm giá" name="name" id="name"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Khoảng thời gian diễn ra</label>
                                    <div>
                                        <div class="input-daterange input-group" id="date-range">
                                            <input type="text" class="form-control" name="start" placeholder="Start Date" />
                                            <input type="text" class="form-control" name="end" placeholder="End Date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Thêm
                                        </button>

                                        <a href="/manage-dishes">
                                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                Bỏ qua
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->

    <footer class="footer">
        © 2020 Pizzone <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>
</div>