<!DOCTYPE html>
<html lang="en">

{{> __head__}}

<body>

<!-- Begin page -->
<div id="wrapper">
{{#if admin}}
   {{> topBar}}

   {{> leftSideBar }}
{{/if}}

    {{{body}}}

</div>
<!-- END wrapper -->

{{> __script__}}
</body>

</html>