<!DOCTYPE html>
<html lang="en">

{{> __head__}}

<body>

<!-- Begin page -->

{{#if admin}}
   {{> topBar}}

   {{> leftSideBar }}
{{/if}}

    {{{body}}}

<!-- END wrapper -->

{{> __script__}}
</body>

</html>