<!DOCTYPE html>
<html lang="en">

{{> __head__}}

<body>

<!-- Begin page -->
<div id="wrapper">

   {{> topBar}}

   {{> leftSideBar }}

    {{{body}}}

</div>
<!-- END wrapper -->

{{> __script__}}
</body>

</html>